<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Shop Place</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

    <div class="container px-4 py-5" id="custom-cards">
        <h2 class="pb-2 border-bottom">E-Shop</h2>
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
          {{range $index, $item := .}}
            <div class="col-4">
              <div class="card card-cover h-100 overflow-hidden text-white rounded-4 shadow-lg"    style="background-image: url(../static/img/{{$item.Img}});background-size:cover">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-primary text-shadow-1">
                  <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{$item.Title}}</h2>
                  <ul class="d-flex list-unstyled mt-auto bg-dark rounded-2 text-white">
                    <li class="d-flex align-items-center me-3">
                      <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                      <p>{{printf "%.2f" $item.Price}}€</p>
                    </li>
                    <li class="d-flex align-items-center">
                      <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                      <p>Quantity: {{$item.Quantity}}</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div> 
          {{end}}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>
